<header>
  <input type="checkbox" name="" id="toggler">
  <label for="toggler" class="fas fa-bars"></label>

  <a href="#" class="logo">Adventure <span>Artifacts</span></a>

  <nav class="navbar">
      <a href="/travel">Home</a>
      <a href="#products">Destinations</a>
      <a href="/flight">Transport</a>
      <a href="/hotels">Hotels</a>
      <a href="/Blogger_Login">Blog</a>
      <a href="#contact">Contact Us</a>
  </nav>

  <div class="icons">
      <a href="/user_review" class="fas fa-comment"> User Review </a>
      <a href="/Login" class="fas fa-sign-in-alt"> Sign In </a>
  </div>
</header>
