
<body>

<!-- review  ends -->

<!-- contact  starts  -->






<section class="contact" id="contact">

    <h1 class="heading" style="text-align: center; margin-bottom: 30px;"> <span style="color: #4CAF50;"> A new Destination </span> Added</h1>

    <div class="row">

        <form name="myform" method="Post" onsubmit="return formSubmit();"  action="" style="display: flex; flex-direction: column;">
            
            <label for="name" style="margin-bottom: 10px;">Name:</label>
            <input id="name" placeholder="First Last" type="text" name="name" class="box" value="<%= des_name %>" style="margin-bottom: 20px; padding: 10px;">
            
            <label for="email" style="margin-bottom: 10px;">Email:</label>
            <input id="email" placeholder="email@domain.com" type="text" name="email" class="box" value="<%= des_price %>" style="margin-bottom: 20px; padding: 10px;">
        
            <input type="submit" value="Ok" class="btn" style="padding: 10px; background-color: #4CAF50; color: white; border: none; cursor: pointer; text-decoration: none; display: inline-block;">
            <p id="errors" style="color: red;"></p>
        </form>  
    <% 
    if (typeof(errors) != 'undefined')
    {
      for (let error of errors)
      {
    %>

        <p class="errors" style="color: red;"> <%= error.msg %><br></p>
    <%
      }
    }
     %> 
        <!-- <div class="image">
            <img src="css/images/contact-img.svg" alt="">
        </div> -->

    </div>

</section>



<!-- footer section starts  -->
<%- include('layouts/footer'); -%>

<!-- footer section ends -->

</body>
</html>
