<%- include('layouts/header'); -%>
<%- include('layouts/nav'); -%>
<body>
<!-- review  ends -->

<!-- contact  starts  -->

<div class="content">
    <h3>Travelling is a Therapy</h3>
    <span> Natural & Beautiful Places </span>
    <p></p>
    <a href="/traveller_details" class="btn">What are your interests?</a>
</div>





<section class="contact" id="contact">

    <h1 class="heading"> <span>  </span> Login </h1>

    <div class="row">

        <form name="myform" method="Post" onsubmit="return formSubmit();"  action="" >
            
            <input id="name" placeholder="Username" type="text" name="username" class="box"><br/>
         
            <input id="password" placeholder="password" type="text" name="password" class="box"><br/>

            <input type="submit" value="Login" class="btn">
            <input type="submit" value="Register" class="btn">

      <p id="errors"></p>
    </form>  
    <% 
    if (typeof(errors) != 'undefined')
    {
      for (let error of errors)
      {
    %>

        <p class="errors"> <%= error.msg %><br></p>
    <%
      }
    }
     %> 
        <!-- <div class="image">
            <img src="css/images/contact-img.svg" alt="">
        </div> -->

    </div>

</section>




<!-- contact section ends -->



<!-- footer section starts  -->
<%- include('layouts/footer'); -%>

<!-- footer section ends -->

</body>
</html>
