<%- include('layouts/header'); -%>
<%- include('layouts/nav'); -%>
<body>
  
<section class="home" id="home">

    <div class="content">
        <h3>Book your flights now</h3>
        <span>Explore the world with ease</span>
        <p></p>
        <a href="https://www.expedia.com/" class="btn">Book Now</a>
    </div>

</section>

</body>