<%- include('layouts/header'); -%>
<%- include('layouts/nav'); -%>
<body>
  
<section class="home" id="home">

    <div class="content">
        <h3>Travelling is a Therapy</h3>
        <span> Natural & Beautiful Places </span>
        <p></p>
        <a href="/traveller_details" class="btn">What are your interests?</a>
    </div>

</section>

<!-- home ends -->

<!-- about starts  -->

<section class="about" id="about">

    <h1 class="heading"> <span> about </span> us </h1>

    <div class="row">

        <div class="video-container">
            <video src="images/about-vid.mp4" loop autoplay muted></video>
            <h3>London</h3>
        </div>

        <div class="content">
            <h3>why Adventure Artifacts?</h3>
            <p>Provides good overview of destinations</p>
            <p>Tours and Travel details</p>
            <a href="#" class="btn">learn more</a>
        </div>

    </div>

</section>

<!-- about ends -->

<!-- icons starts  -->

<!-- icons ends -->

<!-- Popular Places  -->

<!-- <section class="products" id="products">

    <h1 class="heading"> Popular <span>Places</span> </h1>

    <div class="box-container">

        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="images/img-1.jfif" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">Visit Us</a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>Bali</h3>
                <div class="price"> $95.75 <span>$125.75</span> </div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-15%</span>
            <div class="image">
                <img src="images/img-2.jfif" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">Visit Us</a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>Maldives</h3>
                <div class="price">  $95.75 <span>$125.75</span> </div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-5%</span>
            <div class="image">
                <img src="images/img-3.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">Visit Us</a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>Sweden</h3>
                <div class="price">  $95.75 <span>$125.75</span> </div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-20%</span>
            <div class="image">
                <img src="images/img-4.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">Visit Us</a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>Singapore</h3>
                <div class="price"> $95.75 <span>$125.75</span> </div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-17%</span>
            <div class="image">
                <img src="images/img-5.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">Visit Us</a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>India</h3>
                <div class="price"> $95.75 <span>$125.75</span> </div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-3%</span>
            <div class="image">
                <img src="images/img-6.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">Visit Us</a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>Italy</h3>
                <div class="price"> $95.75 <span>$125.75</span> </div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-18%</span>
            <div class="image">
                <img src="images/img-7.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">Visit Us</a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>Bali</h3>
                <div class="price"> $95.75 <span>$125.75</span> </div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="images/img-8.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">Visit Us</a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>Dubai</h3>
                <div class="price"> $95.75 <span>$125.75</span> </div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-5%</span>
            <div class="image">
                <img src="images/img-9.jpg" alt="">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">Visit Us</a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>Paris</h3>
                <div class="price"> $95.75 <span>$125.75</span> </div>
            </div>
        </div>

    </div>

</section>
 -->
<!-- prodcuts ends -->

<!-- review starts  -->

<section class="review" id="review">

<h1 class="heading"> customer's <span>review</span> </h1>

<div class="box-container">

    <div class="box">
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <p>Europe is a landmass located entirely in the Northern Hemisphere and mostly in the Eastern Hemisphere.</p>
        <div class="user">
            <img src="images/pic-1.jpg" alt="">
            <div class="user-info">
                <h3>Shreya</h3>
                <span>happy customer</span>
            </div>
        </div>
        <span class="fas fa-quote-right"></span>
    </div>

    <div class="box">
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <p>Europe is a landmass located entirely in the Northern Hemisphere and mostly in the Eastern Hemisphere.</p>
        <div class="user">
            <img src="images/pic-2.png" alt="">
            <div class="user-info">
                <h3>Chilsi</h3>
                <span>happy customer</span>
            </div>
        </div>
        <span class="fas fa-quote-right"></span>
    </div>

    <div class="box">
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <p>Europe is a landmass located entirely in the Northern Hemisphere and mostly in the Eastern Hemisphere.</p>
        <div class="user">
            <img src="images/pic-3.jpg" alt="">
            <div class="user-info">
                <h3>Neha</h3>
                <span>happy customer</span>
            </div>
        </div>
        <span class="fas fa-quote-right"></span>
    </div>
  

</div>
<a href="/view_reviews" class="btn">View more Reviews</a>

</section>

<!-- review  ends -->



<!-- footer section starts  -->
<%- include('layouts/footer'); -%>

<!-- footer section ends -->

</body>
</html>
